---
layout: default
---

<ul class="category-title"><h1>{{page.title}}</h1></ul>
<ul class="posts-list">

  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <div class="columns is-multiline">
        <div class="column is-12">
            {% include pagination.html %}
        </div>
        {% for post in paginator.posts %}
        <div class="column is-3-desktop is-8-tablet">
            {% include post-card.html %}
        </div>
        {% endfor %}
        <div class="column is-12">
              {% include pagination.html %}
        </div>
  {% endfor %}

</ul>
